<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Zahtjev.za.Materijalom.VW.Sarajevo.Properties.Settings.Zahtjev_za_materijalomConnectionString" connectionString="Data Source=SERVER2008\SAFEQ4SQL;Initial Catalog=Zahtjev_za_materijalom;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
